.wordList .word {
    display: inline-block;
    margin: 3px 8px;
    padding: 1px 3px;
    font-size: 16px;
    color: #333;
    border: 1px solid transparent;
    border-radius: 2px;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
}
.wordList .word:hover {
    color: #000;
}
.wordList .word.active {
    transform: scale(1.2,1.2);
    opacity: .8;
    background-color: #0b4a41;
    color: #fff;
}
.wordList .collection {
    margin: 20px;
}